body {
color:rgb(70, 12, 12);
background:rgb(188, 245, 226);
margin: 5px
}

header{
    border-bottom: solid 1px brown;
    padding: 15px;
    font-size: 32px;
    color: rgb(72, 72, 238);
}

section{
    background:rgb(170 213 95);
    padding-bottom: 80px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 70px;
}